.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #eaf6f6;
}
button {
  background-color: #66bfbf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: "Lobster", cursive;
  box-shadow: 5px 2px #f76b8a;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #f76b8a;
  font-size: 8rem;
  color: #66bfbf;
}

p {
  font-size: 2rem;
  color: #66bfbf;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #f76b8a;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
}
a:visited {
  color: #f76b8a;
}
